*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Package Files #
*.jar
*.aar

# jniLibs should be tracked if manually added, but usually we ignore generated ones.
# In this case, we WANT to track the professor's libh3-java.so
!app/src/main/jniLibs/**
